.event-header {
    background-color: #3E6550 !important;
    color: #EAEDD0 !important;
}

.event-content {
    background-color: #8AB454 !important;
    color: #EAEDD0 !important;    
}

.section-header {
    color: #3E6550 !important;

}

.btn-create-event {
    background-color: #3E6550 !important;
    color: #EAEDD0 !important;    
}

.history-event-header {
    background-color: #4F4F4F !important;
    color: #EAEDD0 !important;  
}

.history-event-content {
    background-color: 	#C1C1C1 !important;
    color: #4F4F4F !important;  
}

 .no-event-card {
    background-color: #EAEDD2 !important;
    border: 5px dashed #3F664E !important;
    box-sizing: border-box !important;
    border-radius: 10px !important;
}

.no-event-content {
    background-color: #EAEDD2 !important;
    color: #3F664E !important;
    text-align: center !important;
    height: 118.5px !important;
}

.no-event-text {
    margin-top: 10% !important;
}