#event-create-page {
    background-color: #3F664E;
}
.time-select > .selection.dropdown, .equal-inline > button {
    width:100% !important;
}
div.inline.equal.width.fields > div.field:last-child {
    padding-right:0 !important;
}
.daypicker-form {
    text-align: center;
    width:100%;
    height:100%;
    background-color:white;
}
.event-date-picker {
    background-color:white;
}
.right-aligned-p{
    float:right;
}
#event-page {
    background-color: #EAEDD0 !important;

}
.event-tiles {
    background-color:#88B652;
    border-radius: 25px;
    padding:10px;
}

.event-container {
    padding:10px;
}