#home-container {
    background-color: #3F664E;
}

.home-section {
    margin: 0 !important;
    padding: 0 !important;
    min-height: 400px;
    border-bottom:2px solid grey;
}
#home-container > .home-section:nth-child(4) {
    border-bottom:0;
}
.banner {
    background-image: url("../img/Putluck.png");
    background-size: cover;
    position: relative !important;
    width: 100% !important;
    height: 800px !important;
}
.blackOverlayImg {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    background-image: url("../img/blackImg.png") !important;
    opacity: .6 !important;
}

.thirdSection{
    background-color: #EBEDD0;
}
.bannerOverlay{
    width: 100%;
    position: relative;
    z-index: 3;
}

.headerPotLuck{
    font-family: Roboto !important;
    color: #EBEDD0 !important;
    font-size: 85px !important;
    font-weight: 900 !important;

}
.headerOrganizing{
    font-family: Roboto !important;
    color: #F2F2F2 !important;
    font-size: 40px !important;
    font-weight: 400 !important;
    text-transform: capitalize !important;
}
.headerSignUp{
    font-family: Roboto !important;
    color: #F2F2F2 !important;
    font-size: 20px !important;

}
.signUpBtn{
    margin-top: 20px !important;
    width: 200px !important;
}

.headerAlready{
    padding-top: 10px !important;
    color: #F2F2F2 !important;
    font-size: 15px !important;
}

/*.secondBanner{*/
    /*width: 100% !important;*/
    /*padding: 0 !important;*/
/*}*/

.secondBannerImg{
    background-image: url("../img/secondBanner.png") !important;
    position: relative !important;
    width: 100% !important;
    margin-top:70px !important;
    margin-bottom: 70px !important;
    height: 300px;

}
.greenOverlayImg{
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    height: 300px;
    background: -webkit-linear-gradient(left, rgba(186,202,69,0), rgba(186,202,69,1)) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(186,202,69,0), rgba(186,202,69,1)) !important;/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(186,202,69,0), rgba(186,202,69,1)) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(186,202,69,0), rgba(186,202,69,1)) !important; /* Standard syntax (must be last) */
}

.headerSimpleClean{
    padding: 20px !important;
    font-family: Pacifico !important;
    color: #EBEDD0 !important;
    font-size: 30px !important;
    font-weight: lighter !important;
    text-transform: capitalize !important;
}
.dividerForSecondBanner{
    width: 40%;
    background-color: #EBEDD0;
    border: 0 none;
    color: #EBEDD0;
    height: 2px;


}
.dividerForSecondBannerTwo{
    margin-bottom: 40px;
}

.secondBannerText{
    font-family: Montserrat !important;
    color: #EBEDD0 !important;
    font-size: 18px !important;
    font-weight: lighter !important;
    text-transform: capitalize !important;

}
.secondBannerText .secondBannerTextBold{
    font-family: Montserrat !important;
    color: #EBEDD0 !important;
    font-size: 20px !important;
    font-weight: 800 !important;
    text-transform: capitalize !important;
}

.fourthBanner{
    background-color: #3F664E;
    padding: 30px !important;
}
.greenColorText{
    font-family: Montserrat !important;
    color: #88B652 !important;
    font-size: 24px !important;
    font-weight: lighter !important;
    text-transform: capitalize !important;
}
.paddingBottomten{
    padding-bottom: 10px !important;
}
.paddingBottomThirty{
    padding-bottom: 30px !important;
}
.thirdBannerImg{
    background-image: url("../img/thirdBanner.png") !important;
    position: relative !important;
    width: 100% !important;
    margin-top:70px !important;
    margin-bottom: 70px !important;
    height: 300px;
}

.yellowOverlayImg{
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    height: 300px;
    background: -webkit-linear-gradient(right, rgba(235,237,208,0), rgba(235,237,208,1)) !important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, rgba(235,237,208,0), rgba(235,237,208,1)) !important;/* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, rgba(235,237,208,0), rgba(235,237,208,1)) !important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(235,237,208,0), rgba(235,237,208,1)) !important; /* Standard syntax (must be last) */
}
.downloadBtn{
    padding-top: 220px;

    
}

.headerTake{
    padding: 20px !important;
    font-family: Pacifico !important;
    color: #3F664E !important;
    font-size: 30px !important;
    font-weight: lighter !important;
    text-transform: capitalize !important;
}

.dividerForSecondBannerThird{
    width: 40%;
    background-color: #3F664E;
    border: 0 none;
    color: #3F664E;
    height: 2px;
}
.thirdBannerText{

    font-family: Montserrat !important;
    color: #3F664E !important;
    font-size: 18px !important;
    font-weight: lighter !important;
    text-transform: capitalize !important;
}
